extends layout
mixin flavorLine
  div(class="individualFlavor" style="display:none")
    p flavor name:
      select(name='flavor')
        each flavor in flavors
          option(value=flavor.id) #{flavor.brand.shortname} - #{flavor.name}
      | percentage:
      input(type='text', name='flavorname', value='')

block content

  script
    include ../public/js/addrecipe.js
  h1= title
  form(action='/recipe/add', method='POST')
    div(id="flavorList")
      +flavorLine
  p
    input(type="button" id="addFlavorButton" onclick="myfunction()" value="add flavor") 
  p    
    input(type='submit', value='Submit')  